/debug
/package
/release
/log
/lib/data/csv
/lib/data/photos
/.vs
/ThesisTest/ik/.vs
/ThesisTest/ik/ik/exp
/ThesisTest/ik/ik/results
/ThesisTest/ik/ik/essay
/ThesisTest/ik/ik/essay_C
/ThesisTest/ik/ik/essay_RALLE
/ThesisTest/ik/ik/2022YFB4700501-006
/ThesisTest/ik/x64
/ThesisTest/ik/ik/x64/Debug
/ThesisTest/ik/ik/x64/Release
/ThesisTest/opencvTest/.vs
/ThesisTest/AdmittanceControl/.vs
/ThesisTest/AdmittanceControl/Debug
/ThesisTest/AdmittanceControl/Release
/ThesisTest/AdmittanceControl/ik/x64
/ThesisTest/AdmittanceControl/x64
/ThesisTest/opencvTest/Debug
/ThesisTest/opencvTest/Release
/ThesisTest/opencvTest/opencvTest/Debug
/ThesisTest/opencvTest/opencvTest/Release
/ThesisTest/opencvTest/opencvTest/data
/ThesisTest/picture/drawExp1/.vs
/ThesisTest/picture/drawExp2/PythonApplication1/.vs
/ThesisTest/picture/decision_space/.vs
/ThesisTest/picture/decision_space/results
ui_*.h
moc_*.cpp
moc_*.h
qrc_*.cpp
Makefile*
*.pro.user
.qmake.stash
/.qtc_clangd
/build
